NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
OPENAI_API_KEY=
eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp0c2N4aGplcXlmenV4d2l3Y3BmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUyMjYzMjgsImV4cCI6MjA5MDgwMjMyOH0.V4ToL8F03_HKPYhZY8pKbqtKkgeKMGTPMaNkaN4hZ5k
RAPIDAPI_KEY=your_rapidapi_key_here
